<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/HomeBage.css">
        <meta name="description" content="Thailand Codes Website">
        <meta property="og:title" content="Thailand Codes">
        <meta property="og:description" content="Thailand Codes Website">
        <meta name="theme-color" content="#2f3136">
        <title><%= bot.name %></title>
        <link rel="shortcut icon" type="image/png" href="<%= bot.avatar %>">
    </head>
    <body>
        <%- include('navbar'); -%>
    <div>
        <div class="d-flex justify-content-center head">
        <div>
        <h1>Thailand Codes ™</h1>
        <p> Thailand Codes That's Coding Server Help You To Create You'r Bot , We Have Too Many Project's , Codes Help You To To Create You'r Bot , For People Want Learn Coding .</p>
					</div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>


